.bg_box {
  /* background-color: red; */
  background-image: url(../Images/background/dashboard-bg.webp);
}

.phone_input {
  min-height: 42px !important;
  min-width: 100% !important;
  border: 1px solid #9ca3af !important;
  
}
