@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

html,
body {
  scrollbar-width: normal;
  background-color: transparent !important;
}
body::-webkit-scrollbar-track-piece:start {
  background: transparent !important;
  z-index: -200;
}

body::-webkit-scrollbar-track-piece:end {
  background: transparent !important;
  z-index: -200;
}
body::-webkit-scrollbar {
  position: absolute;
  z-index: -200;
  background-color: transparent !important;
  width: 15px;
}
body::-webkit-scrollbar-thumb {
  background-color: #711db0;
  border: 2px solid #e2e0e0;
  border-radius: 10rem;
  cursor: pointer;
  z-index: -200;
}
body::-webkit-scrollbar-track {
  position: absolute;
  right: -3rem;
  top: -50rem;
  z-index: -100 !important;
  background: transparent !important;
  z-index: -200;
}

.font-nav {
  font-family: "Jost", sans-serif !important;
  font-optical-sizing: auto;
}

.font-cardo {
  font-family: "Cardo", serif !important;
  font-optical-sizing: auto;
}
.font-hero {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto;
}

.font-flow {
  font-family: "Work Sans", sans-serif !important;
  font-optical-sizing: auto;
}
.font-mono {
  font-family: "Roboto Mono", monospace !important;
  font-optical-sizing: auto;
}
.font-inter {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
}

.active {
  font-weight: 700;
  position: relative;
}
.active.hideState.dashboard_tab {
  font-weight: 400;
  position: relative;
}
.active::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: #711db0;
}
.active.hideState::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: transparent;
}
.slick-slide > div {
  margin: 0 10px;
}

/* .login-bg {
  background: linear-gradient(90deg, #9a6ce1, #2947a9);
  background-color: hsla(0, 0%, 0%, 1);
  background-image: radial-gradient(
      at 29% 90%,
      hsla(0, 0%, 6%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 67% 40%, hsla(84, 0%, 6%, 1) 0px, transparent 50%),
    radial-gradient(at 85% 14%, hsla(315, 21%, 28%, 0.45) 0px, transparent 50%),
    radial-gradient(at 5% 9%, hsla(261, 0%, 0%, 0.27) 0px, transparent 50%),
    radial-gradient(at 11% 24%, hsla(262, 32%, 33%, 1) 0px, transparent 50%),
    radial-gradient(at 55% 65%, hsla(0, 0%, 6%, 1) 0px, transparent 50%),
    radial-gradient(at 9% 81%, hsla(315, 21%, 28%, 0.98) 0px, transparent 50%);
  clip-path: circle(62.3% at 110% 50%);
}
.full-bg {
  background-color: hsla(0, 0%, 0%, 1);
  background-image: radial-gradient(
    at 29% 90%,
    hsla(0, 0%, 6%, 1) 0px,
    transparent 50%
  );
  radial-gradient(at 67% 40%, hsla(84, 0%, 6%, 1) 0px, transparent 50%),
    radial-gradient(at 85% 14%, hsla(315, 21%, 28%, 0.45) 0px, transparent 50%),
    radial-gradient(at 5% 9%, hsla(261, 0%, 0%, 0.27) 0px, transparent 50%),
    radial-gradient(at 11% 24%, hsla(262, 32%, 33%, 1) 0px, transparent 50%),
    radial-gradient(at 55% 65%, hsla(0, 0%, 6%, 1) 0px, transparent 50%),
    radial-gradient(at 9% 81%, hsla(315, 21%, 28%, 0.98) 0px, transparent 50%);
} */
.country-list {
  position: fixed !important;
  padding-top: 4px !important;
}
.aboutbg {
  background-image: url("./assets/Images/background/aboutusbgimg.webp");
  background-repeat: repeat-x;
  background-size: inherit;
  background-position: center center;
}
.testimonialbg {
  background-image: url("./assets/Images/background/testimonialpagebg.webp");
  background-repeat: repeat;
  background-size: inherit;
  background-position: center center;
}
.shadow-feture {
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.1);
}
/* #rc-anchor-container {
  background-color: red !important;
  width: 100% !important;
}
.rc-anchor {
  background-color: red !important;
  width: 100% !important;
}
.rc-anchor-normal {
  background-color: red !important;
  width: 100% !important;
}
.rc-anchor-dark {
  background-color: red !important;
  width: 100% !important;
} */

@media screen and (max-width: 960px) {
  .aboutbg {
    background-image: url("./assets/Images/background/aboutusbgimg.webp");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center center;
  }
  .testimonialbg {
    background-image: url("./assets/Images/background/aboutusbgimg.webp");
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
  }
}
